# Node and build
node_modules/
.next/
dist/
build/
.cache/

# Firebase + emulators
.firebase/
.firebaserc
firebase-debug.log

# Vercel
.vercel/

# VSCode
.vscode/

# Env & system
.env*
.DS_Store

# Huggingface & models
.cache/huggingface/
.cache/firebase/
